
#cabeceraweb{
    background-color: blue;
}

#navegacionprincipal{
    background-color: crimson;
}

#barralateral{
    background-color: darkgreen;
}

#contenidoprincipal{
    background-color: darkorange;
}

#pieprincipal{
    background-color: deepskyblue;
}